VITE_API_URL=https://bizapi.appnity.co.in/api
VITE_FEATURE_DOCS=true
VITE_FEATURE_REVIEWS=true
VITE_FEATURE_ANALYTICS=true
VITE_FEATURE_AI=true
VITE_FEATURE_PAYMENTS=true
VITE_FEATURE_SUBSCRIPTIONS=false
VITE_FEATURE_LICENSES=false
